In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns   
import matplotlib.pyplot as plt  
import os

df = pd.read_csv('disasters_1900_2021.csv')
print(df)

       Year   Seq           Glide Disaster Group Disaster Subgroup  \
0      1900  9002             NaN        Natural    Climatological
1      1900  9001             NaN        Natural    Climatological
2      1902    12             NaN        Natural       Geophysical
3      1902     3             NaN        Natural       Geophysical
4      1902    10             NaN        Natural       Geophysical
...     ...   ...             ...            ...               ...
16121  2021   449  FL-2021-000110        Natural      Hydrological
16122  2021    75             NaN        Natural      Hydrological
16123  2021   599  EP-2021-000138        Natural        Biological
16124  2021    20             NaN        Natural      Hydrological
16125  2021   481             NaN        Natural      Hydrological

           Disaster Type Disaster Subtype Disaster Subsubtype   Event Name  \
0                Drought          Drought                 NaN          NaN
1                Drought          Drought                 NaN          NaN
2             Earthquake  Ground movement                 NaN          NaN
3      Volcanic activity         Ash fall                 NaN  Santa Maria
4      Volcanic activity         Ash fall                 NaN  Santa Maria
...                  ...              ...                 ...          ...
16121              Flood              NaN                 NaN          NaN
16122              Flood              NaN                 NaN          NaN
16123           Epidemic    Viral disease                 NaN   Meningitis
16124              Flood              NaN                 NaN          NaN
16125              Flood              NaN                 NaN          NaN

                                      Country  ... No Affected No Homeless  \
0                                  Cabo Verde  ...         NaN         NaN
1                                       India  ...         NaN         NaN
2                                   Guatemala  ...         NaN         NaN
3                                   Guatemala  ...         NaN         NaN
4                                   Guatemala  ...         NaN         NaN
...                                       ...  ...         ...         ...
16121                                   Yemen  ...     67980.0         NaN
16122                            South Africa  ...       400.0         NaN
16123  Congo (the Democratic Republic of the)  ...         NaN         NaN
16124                                  Serbia  ...        22.0         NaN
16125                             South Sudan  ...    500000.0         NaN

      Total Affected Insured Damages ('000 US$) Total Damages ('000 US$)  \
0                NaN                        NaN                      NaN
1                NaN                        NaN                      NaN
2                NaN                        NaN                  25000.0
3                NaN                        NaN                      NaN
4                NaN                        NaN                      NaN
...              ...                        ...                      ...
16121        67980.0                        NaN                      NaN
16122          400.0                        NaN                  75000.0
16123          301.0                        NaN                      NaN
16124           22.0                        NaN                      NaN
16125       500000.0                        NaN                      NaN

            CPI Adm Level                                Admin1 Code  \
0      3.221647       NaN                                        NaN
1      3.221647       NaN                                        NaN
2      3.350513       NaN                                        NaN
3      3.350513       NaN                                        NaN
4      3.350513       NaN                                        NaN
...         ...       ...                                        ...
16121       NaN       NaN                                        NaN
16122       NaN       1;2               2707;77311;77312;77313;77315
16123       NaN       NaN                                        NaN
16124       NaN         1  25374;25378;25379;25380;25383;25386;25397
16125       NaN       NaN                                        NaN

       Admin2 Code                                      Geo Locations
0              NaN                                                NaN
1              NaN                                                NaN
2              NaN                                                NaN
3              NaN                                                NaN
4              NaN                                                NaN
...            ...                                                ...
16121          NaN                                                NaN
16122  77364;77367  Free State, KwaZulu-Natal, Limpopo, Mpumalanga...
16123          NaN                                                NaN
16124          NaN  Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko...
16125          NaN                                                NaN

[16126 rows x 45 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16126 entries, 0 to 16125
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        16126 non-null  int64
 1   Seq                         16126 non-null  int64
 2   Glide                       1581 non-null   object
 3   Disaster Group              16126 non-null  object
 4   Disaster Subgroup           16126 non-null  object
 5   Disaster Type               16126 non-null  object
 6   Disaster Subtype            13016 non-null  object
 7   Disaster Subsubtype         1077 non-null   object
 8   Event Name                  3861 non-null   object
 9   Country                     16126 non-null  object
 10  ISO                         16126 non-null  object
 11  Region                      16126 non-null  object
 12  Continent                   16126 non-null  object
 13  Location                    14334 non-null  object
 14  Origin                      3794 non-null   object
 15  Associated Dis              3348 non-null   object
 16  Associated Dis2             707 non-null    object
 17  OFDA Response               1694 non-null   object
 18  Appeal                      2569 non-null   object
 19  Declaration                 3256 non-null   object
 20  Aid Contribution            677 non-null    float64
 21  Dis Mag Value               4946 non-null   float64
 22  Dis Mag Scale               14936 non-null  object
 23  Latitude                    2729 non-null   object
 24  Longitude                   2732 non-null   object
 25  Local Time                  1103 non-null   object
 26  River Basin                 1287 non-null   object
 27  Start Year                  16126 non-null  int64
 28  Start Month                 15739 non-null  float64
 29  Start Day                   12498 non-null  float64
 30  End Year                    16126 non-null  int64
 31  End Month                   15418 non-null  float64
 32  End Day                     12570 non-null  float64
 33  Total Deaths                11413 non-null  float64
 34  No Injured                  3895 non-null   float64
 35  No Affected                 9220 non-null   float64
 36  No Homeless                 2430 non-null   float64
 37  Total Affected              11617 non-null  float64
 38  Insured Damages ('000 US$)  1096 non-null   float64
 39  Total Damages ('000 US$)    5245 non-null   float64
 40  CPI                         15811 non-null  float64
 41  Adm Level                   7859 non-null   object
 42  Admin1 Code                 4581 non-null   object
 43  Admin2 Code                 3969 non-null   object
 44  Geo Locations               7859 non-null   object
dtypes: float64(14), int64(4), object(27)
memory usage: 5.5+ MB

In [3]:
df.head()

,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,...,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Cabo Verde,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
1,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,India,...,NaN,NaN,NaN,NaN,NaN,3.221647,NaN,NaN,NaN,NaN
2,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Guatemala,...,NaN,NaN,NaN,NaN,25000.0,3.350513,NaN,NaN,NaN,NaN
3,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN
4,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Guatemala,...,NaN,NaN,NaN,NaN,NaN,3.350513,NaN,NaN,NaN,NaN

In [4]:
#for column in df.columns:
 #   print(f"Unique values in {column}: {df[column].unique()}")

In [5]:
unique_subgroup = df['Disaster Subgroup'].unique()
print(unique_subgroup)

['Climatological' 'Geophysical' 'Meteorological' 'Hydrological'
 'Biological' 'Extra-terrestrial']

In [6]:
storm_df = df[df['Disaster Type'] == 'Storm']
print(storm_df)

       Year  Seq Glide Disaster Group Disaster Subgroup Disaster Type  \
7      1904    3   NaN        Natural    Meteorological         Storm
14     1906   15   NaN        Natural    Meteorological         Storm
18     1909   10   NaN        Natural    Meteorological         Storm
19     1909   13   NaN        Natural    Meteorological         Storm
22     1909   12   NaN        Natural    Meteorological         Storm
...     ...  ...   ...            ...               ...           ...
16098  2021  211   NaN        Natural    Meteorological         Storm
16101  2021  166   NaN        Natural    Meteorological         Storm
16115  2021  373   NaN        Natural    Meteorological         Storm
16117  2021  171   NaN        Natural    Meteorological         Storm
16119  2021  595   NaN        Natural    Meteorological         Storm

       Disaster Subtype Disaster Subsubtype  \
7      Tropical cyclone                 NaN
14     Tropical cyclone                 NaN
18     Tropical cyclone                 NaN
19     Tropical cyclone                 NaN
22     Tropical cyclone                 NaN
...                 ...                 ...
16098  Convective storm        Severe storm
16101  Convective storm             Tornado
16115  Tropical cyclone                 NaN
16117  Convective storm        Severe storm
16119  Tropical cyclone                 NaN

                               Event Name                           Country  \
7                                     NaN                        Bangladesh
14                                    NaN                         Hong Kong
18                                    NaN                        Bangladesh
19                                    NaN                        Bangladesh
22                                    NaN                             Haiti
...                                   ...                               ...
16098                                 NaN    United States of America (the)
16101                                 NaN    United States of America (the)
16115                    Hurricane 'Elsa'  Saint Vincent and the Grenadines
16117                                 NaN                          Viet Nam
16119  Tropical cyclone 'Conson' (Jolina)                          Viet Nam

       ... No Affected No Homeless Total Affected Insured Damages ('000 US$)  \
7      ...         NaN         NaN            NaN                        NaN
14     ...         NaN         NaN            NaN                        NaN
18     ...         NaN         NaN            NaN                        NaN
19     ...         NaN         NaN            NaN                        NaN
22     ...         NaN         NaN            NaN                        NaN
...    ...         ...         ...            ...                        ...
16098  ...         NaN         NaN            NaN                        NaN
16101  ...        90.0         NaN           92.0                        NaN
16115  ...       129.0         NaN          129.0                        NaN
16117  ...         NaN      1000.0         1000.0                        NaN
16119  ...       310.0         NaN          310.0                        NaN

      Total Damages ('000 US$)       CPI Adm Level               Admin1 Code  \
7                          NaN  3.479379       NaN                       NaN
14                     20000.0  3.479379       NaN                       NaN
18                         NaN  3.479379       NaN                       NaN
19                         NaN  3.479379       NaN                       NaN
22                         NaN  3.479379       NaN                       NaN
...                        ...       ...       ...                       ...
16098                 215000.0       NaN         1  3214;3223;3232;3238;3257
16101                 500000.0       NaN         1            3214;3232;3238
16115                      NaN       NaN       NaN                       NaN
16117                      NaN       NaN       NaN                       NaN
16119                      NaN       NaN       NaN                       NaN

      Admin2 Code                                      Geo Locations
7             NaN                                                NaN
14            NaN                                                NaN
18            NaN                                                NaN
19            NaN                                                NaN
22            NaN                                                NaN
...           ...                                                ...
16098         NaN  Alabama, Florida, Louisiana, Mississippi, Texa...
16101         NaN           Alabama, Louisiana, Mississippi (Adm1).
16115         NaN                                                NaN
16117         NaN                                                NaN
16119         NaN                                                NaN

[4496 rows x 45 columns]

In [7]:
storms_per_year = storm_df.groupby('Year')['Disaster Type'].count()
print(storms_per_year)

Year
1900      1
1902      1
1903      2
1904      1
1905      1
       ...
2017    130
2018     97
2019     91
2020    128
2021     83
Name: Disaster Type, Length: 118, dtype: int64

In [8]:
storms_per_year.mean()

38.101694915254235